
<h1 class="text-center">Angular Practice</h1>
<p appAddBackgroundColor >Checking my custom directive working or not</p>
<h3 *ngIf="childData">Data Received From Child(component-interaction) Component</h3>
<p *ngIf="childData">{{childData | json }}</p>

<div class="row">
    <div class="col-4 d-flex justify-content-sm-around" ><a routerLink="/interpolation" class="btn btn-outline-primary">Interpolation</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink ="/property-binding" class="btn btn-outline-success">Property-Binding</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink ="/class-binding" class="btn btn-outline-danger">Class-Binding</a></div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink="style-binding" class="btn btn-outline-success">Style-Binding</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink ="event-binding" class="btn btn-outline-primary">Event-Binding</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink="two-way-binding" class="btn btn-outline-danger">Two-Way-Binding</a></div>
</div>

<br>
<hr>

<h3 class="text-center">Directives</h3>
<div class="row">
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink="directive/if" class="btn btn-outline-danger">IF</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink ="directive/for" class="btn btn-outline-info">FOR</a></div>
    <div class="col-4 d-flex justify-content-sm-around"><a routerLink="directive/switch-case" class="btn btn-outline-success">SWITCH CASE</a></div>
</div>

<h3 class="text-center">Component Interaction</h3>
<div class="row my-3">
    <button class="btn btn-outline-primary text-center mx-auto my-3" (click)="navigateToChild()">Send data to child component</button>
    <div class="col-12 d-flex justify-content-sm-around"><a routerLink="/component-interaction" class="btn btn-outline-danger">COMPONENT INTERACTION</a></div>
</div>
<br>
<h3 class="text-center">USER COMPONENT</h3>
<div class="text-center">
    <div class="col justify-content-center"><a routerLink="user" class="btn btn-outline-primary">USER COMPONENT</a></div>
</div>

<div class="text-center my-3">
    <h3 class="text-center">Observables</h3>
    <div class="col justify-content-center"><a routerLink="observables" class="btn btn-outline-success">Observables</a></div>
</div>
<div class="text-center my-3">
    <h3 class="text-center">Output.....</h3>
    <router-outlet></router-outlet>
</div>

<!-- <interpolation></interpolation>
<property-binding></property-binding>
<class-binding></class-binding>
<style-binding></style-binding>
<event-binding></event-binding>
<twoway-binding></twoway-binding> -->
<!-- <directives></directives>
<if></if>
<switch-case></switch-case>
<for></for>-->

<!-- <component-interaction (childDataSendEvent)="childData=$event" [parentData]="sendTochildData"></component-interaction> -->
<!-- if not possible through this, then we can do it alternativly using router--> 


 